<ui:composition
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:form styleClass="scroll-body">
        <p:dataTable id="eventsTableId" widgetVar="eventsTable" var="ev" value="#{eventsView.events}" style="height: 100%"
                     liveScroll="true"
                     scrollRows="100"
                     scrollable="true"
                     liveScrollBuffer="10"
                     rows="100"
                     lazy="true"
        >

            <!--<f:facet name="header">-->
                <!--List of Cars-->
                <!--<p:commandButton id="toggler" type="button" value="Columns" style="float:right" icon="ui-icon-calculator" />-->
                <!--<p:columnToggler datasource="eventsTableId" trigger="toggler" />-->
            <!--</f:facet>-->

            <p:column headerText="Action" filterBy="#{ev.action}" sortBy="#{ev.action}">
                <f:facet name="filter">
                    <p:selectOneMenu id="action" value="#{eventsView.selectedAction}" filter="true" filterMatchMode="startsWith" onchange="PF('eventsTable').filter()">
                        <f:selectItem itemLabel="All actions" itemValue="" />
                        <f:selectItems value="#{eventsView.actions}" />
                    </p:selectOneMenu>
                </f:facet>
                <h:outputText value="#{ev.action}" style="white-space: nowrap"/>
            </p:column>
            <p:column headerText="Account">
                <h:outputText value="#{ev.account}" style="white-space: nowrap"/>
            </p:column>
            <p:column headerText="Host">
                <h:outputText value="#{ev.host}" style="white-space: nowrap"/>
            </p:column>
            <p:column headerText="Start Time" filterBy="#{ev.startTime}" sortBy="#{ev.startTime}" style="white-space: nowrap">
                <f:facet name="filter">
                    <p:calendar id="from" pattern="yyyy-MM-dd HH:mm:ss" onchange="PF('eventsTable').filter()"/>
                </f:facet>
                <h:outputText value="#{eventsView.convertTime(ev.startTime)}"/>
            </p:column>
            <p:column headerText="End Time" filterBy="#{ev.endTime}" sortBy="#{ev.endTime}" style="white-space: nowrap">
                <f:facet name="filter">
                    <p:calendar id="to" pattern="yyyy-MM-dd HH:mm:ss" onchange="PF('eventsTable').filter()"/>
                </f:facet>
                <h:outputText value="#{eventsView.convertTime(ev.endTime)}"/>
            </p:column>
            <p:column headerText="Actor">
                <h:outputText value="#{ev.actor}" style="white-space: nowrap"/>
            </p:column>
            <p:column headerText="App Name" style="white-space: nowrap">
                <h:outputText value="#{ev.appId}"/>
            </p:column>
            <p:column headerText="App VIN" style="white-space: nowrap">
                <h:outputText value="#{ev.appVin}"/>
            </p:column>
            <p:column headerText="Session" style="white-space: nowrap">
                <h:outputText value="#{ev.sessionId}"/>
            </p:column>
        </p:dataTable>
    </h:form>
</ui:composition>