<ui:composition
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <p:tabView id="mtab" styleClass="mtab" orientation="left">
        <p:tab title="Settings">
            <h:form id="mcon" styleClass="mconsole">
                <h:panelGrid id="set_default" columns="1">
                    <h:panelGrid columns="3">
                        <p:inputText id="key_default" value="#{mgtView.defaultProp.key}"/>
                        <p:inputText id="val_default" value="#{mgtView.defaultProp.value}"/>
                        <p:commandButton value="Add property" update="set_default" actionListener="#{mgtView.updateSettings(mgtView.defaultProp)}"/>
                    </h:panelGrid>

                    <p:repeat value="#{mgtView.settings}" var="prop">
                        <h:panelGrid columns="4">
                            <p:inputText value="#{prop.value}"/>
                            <p:commandButton value="Save" update=":tablet:mtab:mcon:set_default" actionListener="#{mgtView.updateSettings(prop)}" icon="ui-icon-disk"/>
                            <p:commandButton value="Delete" update=":tablet:mtab:mcon:set_default" actionListener="#{mgtView.removeSettings(prop)}" icon="ui-icon-trash"/>
                            <h:outputText value="Key: #{prop.key}" style="padding-top: 4px; display: block;"/>
                        </h:panelGrid>
                    </p:repeat>
                </h:panelGrid>
            </h:form>
        </p:tab>
        <p:tab title="State info">
            <h:form styleClass="mconsole">
                <h:panelGrid columns="3">
                    <p:inputText id="logsInCache" disabled="true" value="#{mgtView.logsInCache}"/>
                    <p:commandButton value="Get value" update="logsInCache"/>
                    <h:outputText value="Logs in cache" style="padding-top: 4px; display: block;"/>


                    <p:inputText id="countDurableLogs" disabled="true" value="#{mgtView.countDurableLogs}"/>
                    <p:commandButton value="Get value" update="countDurableLogs"/>
                    <h:outputText value="Durable logs in database" style="padding-top: 4px; display: block;"/>
                </h:panelGrid>
            </h:form>
        </p:tab>
    </p:tabView>
</ui:composition>