<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta charset="utf-8"/>
    <title>MI Log</title>
    <f:facet name="last">
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
    </f:facet>
</h:head>
<h:body>
    <p:layout id="mma" fullPage="true">

        <p:layoutUnit position="north" size="50" resizable="false" styleClass="northl">
            <div class="logo">MI Log</div>
            <h:form id="tmenu">
                <p:tabMenu activeIndex="#{eventsView.activeTab}">
                    <p:menuitem value="User activity log"  actionListener="#{eventsView.setActiveTab(0)}" update=":tmenu :tablet">
                    </p:menuitem>
                    <p:menuitem value="Management"  actionListener="#{eventsView.setActiveTab(1)}" update=":tmenu :tablet">
                    </p:menuitem>
                </p:tabMenu>
            </h:form>
        </p:layoutUnit>

        <p:layoutUnit position="center" style="border: hidden;" gutter="0" styleClass="centerl">
            <p:tabView id="tablet" effect="fade" effectDuration="fast" activeIndex="#{eventsView.activeTab}" style="height: calc(100% - 4px)">
                <p:tab style="height: 100%">
                    <ui:include src="/WEB-INF/durable-events-tab.xhtml" />
                </p:tab>
                <p:tab>
                    <ui:include src="/WEB-INF/management-tab.xhtml" />
                </p:tab>
            </p:tabView>
        </p:layoutUnit>

    </p:layout>
</h:body>
</html>